
.navegation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    border-bottom: 2px solid black;
}


.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: x-large solid black;
}

.claseActiva{
    color: rgb(185, 34, 34);
}

.claseInactiva{
    color: rgb(3, 3, 3);
}

.logo{
    width: 20%;
    height: 10%;
    border-radius: 20%;
    }