
.navegation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    border-bottom: 2px solid black;
}


.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}


li {
    margin: 10px;
}

a{
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    color: black;
}

.logo{
    width: 55px;
    height: 60px;
    border-radius: 20%;
    }