*{
    text-decoration: none;
    font-size:20px;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    border-bottom: 2px solid black;
}


.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size:x-large black;
}

#link1:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(228, 69, 58);
    border-radius: 15%;
}

#link1:focus{
    outline: none;
}
#link2:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(228, 69, 58);
    border-radius: 15%;
}

#link2:focus{
    outline: none;
}
#link3:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(228, 69, 58);
    border-radius: 10%;
}

#link3:focus{
    outline: none;
}

.claseActiva{
    color: rgb(185, 34, 34);
}

.claseInactiva{
    color: rgb(3, 3, 3);
}

.logo{
    width: 20%;
    height: 10%;
    border-radius: 20%;
    }

    